<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleDescription</key>
	<string>Letterbox allows you to make better use of your widescreen monitor, by rearranging the Mail.app interface into three vertical columns.</string>
	<key>BundleWebsiteURL</key>
	<string>http://harnly.net/software/letterbox</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Letterbox</string>
	<key>CFBundleIconFile</key>
	<string>Letterbox</string>
	<key>CFBundleIdentifier</key>
	<string>net.harnly.Letterbox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Letterbox</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.21</string>
	<key>NSPrincipalClass</key>
	<string>LetterboxBundle</string>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://harnly.net/projects/letterbox/appcast/appcast.xml</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOjCCAi0GByqGSM44BAEwggIgAoIBAQDDQq6cQQVmtd+8Q1OTs1WlGVPtzirQ
SmD4OsvtVigPFbVU5JQj9QboUhi+YsxC9VvsQHuQ7Q2NMAb6BaBc5szhp8e77tGG
b6CQCS0Ds4pdp9POmANs5/XcuLrfJioSZAW7/IJSPNOfJUze5Bev71G6HKxkUZOw
CfMCSBKAhDePaAEzx/EAlS3EZqZ9f87zEjxtTGOzjW4w++WeGopRcsJi8CCLEpqa
7KdQ+cx7wBE0m+yGRcA22ezEkKy8FF+3fBHgeOuJCg2kNkI2tf5WqD0V3Zdgfloc
WecEvoGb0Jr+krSDT0ewe77Zou/slGdS1vvDhN63989lK3ZDPQil+hlhAhUAl/NL
JlQEFsIGDtIGrMteJOhvZ0cCggEAbzXtt4ZRMWpvDwXj2DOA+h2utfOpqlAqPobf
W9NwEfpi3JhT/TXmkCsT7+LGBCpJpkPtavQDgpxb5xRSioCHmRsq1c/fBma07sHM
MO4LwrRCgCskxi2yf08cPxEOVvWhxgMgNVgONih9dDb3VU5EMls/f6DxIpRLyJ/w
i/H20Pzf6e47UnWBOzhVNjEHGSj0qJWujIxdcy7VGY47PGQp6H3gb69dGuq4hYem
TAAP59f4hVmVWyrz2FkKiG65Nbdwmwxr45paxhEx+yEgP0a0TcPfW2N5fZ3HM6J5
5jd/CkUPQf5HVTih7zJP7Mb1DrBVju7o/aYQcLishpFLsaFnWwOCAQUAAoIBAGTR
3bR/o9X2/45vW20sLPTkk/zXvTH44VIz1+jqeEsNsG7aPQJBOECV9/Ceywd146UW
3iEc9+F7UgSh3O1Yov3Ab7TGC+nLxTSF8PvcWsvOOlAHC//hE+CqiPZK5sq15+eJ
ASUEO12oWsNiu3ZusO1aJbs0J0Hf3MWdEF+c5D9jdeINJASmwjUbXFxXwhEFy2FC
apH17U6x1iUfv5bhU/7gMy7FBXqrW0+i42RqemiZ5/6JY+JJxqIeOgQuyyAq4+a/
05ACoBI6heEzOck7fdQaymFcoRz7LaOUiJ7LrdqU++TKimwEBN+eaqqRfv2B191S
2wptpdAlSRJWToy0eEA=
-----END PUBLIC KEY-----</string>
</dict>
</plist>
